@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img{
    vertical-align: baseline;
}

table{
    border-collapse: collapse;
}

input{
<<<<<<< HEAD
    border: 1px solid red;
    color: red;
=======
    border: 2px solid #e65d5d;
    color: #777;
}

input::-webkit-input-placeholder{
    color: #e65d5d;
    font-weight: 600;
>>>>>>> 5317bec (2nd commit)
}

body{
    font-family: "Pretendard";
    background: url("../images/s_images/body_bg.png");
    color: #000;
    font-size: 14px;
}

/* web-font css */
@font-face {
    font-family: "Pretendard";
    src: url("../webfont/Pretendard-Regular.woff");
}